# Entorno virtual
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs y temporales
*.log
*.tmp
*.temp

# Datos científicos pesados
*.nc
*.nc4
*.zarr
*.h5
*.hdf5
*.joblib
*.parquet

# Datos crudos
MUR_ZARR/
OISST/
GEBCO/
VALIDACION_SATELITAL/

# Salidas grandes
DATASET_TESIS/outputs/
DATASET_TESIS/analysis_error_historico/

# Cachés
.cache/
.pytest_cache/
